body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiToolbar-root, .MuiToolbar-regular, .makeStyles-root-2, .MuiToolbar-gutters {
    position: fixed;
}

.makeStyles-root-2 {
    /* Just the Top Bar */
    background: pink;
    background: #283E4A;
    color: #fff;
}

.MuiSvgIcon-root {
    color: #fff;
}

.MuiTableCell-root.MuiTableCell-body {
    background: pink;
    height: 0px;
}


/*Searchbar*/

.MuiInputBase-input.makeStyles-inputInput-89 {
    border: 2px solid #fff;
    border-radius: 50px;
}

.MuiInputBase-root.makeStyles-inputRoot-88, .makeStyles-search-86 {
    border-radius: 50px;
    background: none;
    fill: none;
}