body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* Table Body */

.MuiTableContainer-root {
    background: #F3F3F3;
}

.MuiToolbar-root, .MuiToolbar-regular, .makeStyles-root-2, .MuiToolbar-gutters {
    position: fixed;
}

.makeStyles-highlight-3.MuiToolbar-gutters{
    background: #283E4A;
    color: rgb(108, 162, 194);
}

.makeStyles-root-2 {
    /* Just the Top Bar */
    background: #283E4A;
    color: #fff;
}

/* Table */
th, .MuiTableCell-root.MuiTableCell-head{
    background:#E1E9EE;
    padding-left: 20px;
}


.MuiTableCell-root.MuiTableCell-body {
    height: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.MuiTableCell-root.MuiTableCell-body:nth-of-type(2) input{ /* Name row */
    color: #1178B3;
}


/* checkboxes */

.makeStyles-root-2 .MuiSvgIcon-root:first-child {
    color: #fff;
}

.makeStyles-root-2 .MuiSvgIcon-root:nth-of-type(2) {
    background: red;
}

.MuiSvgIcon-root {
    color: #283E4A;
}

input.PrivateSwitchBase-input-139{
    color: grey;
}

/*Searchbar*/

.MuiInputBase-input.makeStyles-inputInput-89 {
    border: 2px solid #fff;
    border-radius: 50px;
    background: none;
    fill: none;
}

.MuiInputBase-root.makeStyles-inputRoot-88, div.makeStyles-search-86 {
    border-radius: 50px;
    background: none;
    fill: none;
}



/*Typography*/

.makeStyles-root-167 {
    color: #283E4A;
}